.nav, .nav-left, .nav-left ul, .nav-left ul a, .nav-right, .container, .imgs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Epilogue', sans-serif;
  user-select: none;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  background: rgba(83, 83, 83, 0.014);
  padding-bottom: 50px;
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

header {
  width: 100vw;
  margin: 0 auto;
  padding: 30px 0;
  background: #FCFCFC;
}

.nav {
  width: 90vw;
  margin: 0 auto;
}

.nav-left {
  width: 40%;
}

.nav-left ul {
  width: 70%;
  min-width: 400px;
  margin-left: 50px;
}

.nav-left ul a {
  font-size: 15px;
  font-weight: 600;
  opacity: 0.7;
  gap: 7px;
  transition: opacity 0.1s ease-in-out;
}

.nav-left ul a:hover {
  opacity: 1;
}

.nav-right {
  gap: 30px;
  font-size: 15px;
  font-weight: 600;
}

.nav-right p {
  opacity: 0.7;
}

.nav-right p:hover {
  opacity: 1;
}

.nav-right button {
  background: none;
  border: 2px solid black;
  box-sizing: content-box;
  padding: 10px 15px;
  border-radius: 12px;
  opacity: 0.7;
  transition: background 0.3s ease-in-out;
}

.nav-right button:hover {
  background: #000;
  color: #fff;
  opacity: 1;
}

.toogle-company {
  display: block;
  position: absolute;
  background-color: #fff;
  box-sizing: content-box;
  padding: 20px 25px;
  border-radius: 10px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.384);
  top: 40px;
  left: -63px;
  overflow: hidden;
}

.toogle-company span {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 17px;
  opacity: .7;
  font-weight: 600;
  cursor: pointer;
  transition: opacity 0.1s ease-in-out;
}

.toogle-company span:hover {
  opacity: 1;
}

.toogle-company #first {
  margin-top: 0;
}

.features {
  position: relative;
}

.company {
  position: relative;
}

.toogle-second {
  left: 0;
  display: none;
}

.toogle-second span {
  width: 70px;
}

.toogle-second span:nth-child(1) {
  margin-top: 0;
}

.toogle-first {
  display: none;
}

.block {
  display: block;
}

.container {
  margin: 0 auto;
  width: 80vw;
  margin-top: 50px;
  position: relative;
  align-items: end;
}

.container img {
  width: 40%;
}

.left h1 {
  font-size: 70px;
  width: 460px;
}

.left p {
  margin-top: 40px;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.6;
  width: 450px;
  line-height: 150%;
}

.left button {
  background: #000;
  color: #fff;
  box-sizing: content-box;
  padding: 12px 20px;
  border-radius: 15px;
  margin-top: 40px;
}

.left button:hover {
  color: #000;
  background: none;
  transition: background 0.3s ease-in-out;
}

.imgs {
  margin-top: 90px;
  cursor: pointer;
}

.imgs img {
  width: 87px;
}

.menu {
  display: none;
}

.menu-page {
  display: none;
}

.menu-page ul {
  display: none;
}

#d-none {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .none {
    visibility: hidden;
  }
  .menu {
    display: block;
  }
  .menu-page {
    width: 80vw;
    display: block;
    background: white;
    position: absolute;
    top: 0;
    right: -90vw;
    height: 120vh;
    z-index: 2;
    transition: all 0.4s ease-in-out;
  }
  .menu-page ul {
    margin-top: 90px;
    margin-left: 20px;
    gap: 20px;
    display: flex;
    flex-direction: column;
  }
  .menu-page ul li {
    font-size: 20px;
    position: relative;
    z-index: 9;
  }
  .close {
    position: absolute;
    right: 25px;
    top: 37px;
  }
  .toogle-first, .toogle-second {
    display: block;
    position: static;
    width: 100px;
    background: none;
    box-shadow: none;
  }
  header {
    height: 98px;
    margin: 0;
    padding-top: 0;
    margin-top: -35px;
  }
  .container {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    text-align: center;
  }
  .container img {
    width: 100%;
    margin-bottom: 50px;
  }
  body {
    width: 100vw;
  }
  .left {
    width: 100%;
  }
  .left h1 {
    font-size: 32px;
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }
  .left p {
    font-size: 16px;
    width: 100%;
  }
  .imgs {
    width: 92%;
    margin: 0 auto;
    margin-top: 50px;
  }
  .imgs img {
    width: 20%;
  }
  #d-none {
    display: block;
  }
  .nav-right {
    width: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
  }
  .nav-right p {
    display: block;
    text-align: center;
  }
  .nav-right button {
    margin: 0 auto;
    width: 90%;
    margin-top: 20px;
  }
}
/*# sourceMappingURL=style.css.map */